APP_NAME=PulseDesk
APP_ENV=production
APP_KEY=base64:c3VwZXJzZWNyZXRrZXlmb3JwdWxzZWRlc2thcHBsaWNhdGlvbg==
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=pulsedesk
DB_USERNAME=pulsedesk_user
DB_PASSWORD=pulsedesk_password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
